# Dependencies
node_modules/

# Secrets / local env
.env
.env.*
!.env.example
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
desktop.ini

# Git / build / deploy
.git/
dist/
build/
coverage/
.vercel/
*.zip

# Android local/build
APK_WEBVIEW_TEMPLATE/.gradle/
APK_WEBVIEW_TEMPLATE/.idea/
APK_WEBVIEW_TEMPLATE/build/
APK_WEBVIEW_TEMPLATE/app/build/
APK_WEBVIEW_TEMPLATE/local.properties
APK_WEBVIEW_TEMPLATE/.cxx/

# Local DB/cache/uploads
uploads/
db
db.js/db


# SineQ güvenli paketleme
.env
.env.*
!.env.example
node_modules/
.git/
.idea/
.vscode/
db
db.js/
desktop.ini
uploads/*.tmp
APK_WEBVIEW_TEMPLATE/.gradle/
APK_WEBVIEW_TEMPLATE/.idea/
APK_WEBVIEW_TEMPLATE/build/
APK_WEBVIEW_TEMPLATE/app/build/
APK_WEBVIEW_TEMPLATE/local.properties
